$box-border:#edf1f2;
$while:#FFFFFF;
$deep-grey:#999999;
$black:#333333;
$blue:#26a26f;

.lg-pic{
  height:15vw;
  width:100vw;
  background: url("pic/pic24.png") no-repeat;
  background-size:cover;
}


.main{
  width:100%;
  background: #fafafa;
  .main-part{
    .first{
      color:$blue;
      font-size: 1.4rem;
      line-height: 5rem;
      span{
        color:#0f0f0f;
      }
    }
    .box-left {
            width: 20%;
            float: left;
            background: $while;
            text-align: center;
            p {
              color:$black;
              font-size: 1.6rem;
              padding: 2rem 0;
              border-bottom: 1px solid #e6e6e6;
            }
            ul {
              li {
                padding-top: 2rem;
                font-size: 1.4rem;
                span {
                  display: inline-block;
                  width: 10px;
                  height: 10px;
                  border-radius: 50%;
                  border: 1px solid #ff640d;
                  margin-right: 10px;
                }
                a {
                  color: $blue;
                }
                .three {
                  background: #ff640d;

                }
                .font {
                  color: #ff640d;
                }
              }
              li:hover a {
                color: #ff640d;
              }
              li:hover span {
                background: #ff640d;
              }
              .last{
                margin-bottom: 5rem;
              }
            }
    }
    .box-right {
      width: 75%;
      float: right;
      background: $while;
      margin-bottom: 8rem;
      .list-1{
        display:inline-block;
        padding:2rem 5rem;

        .list-1-1{
          display:inline-block;
          padding:2rem 0 ;
        }
        .list-1-2{
          width:80%;
          float:right;
          color:#c9c9c9;
          font-size:1.4rem;
          text-indent:2.4rem;
        }
      }
      .text{
        font-size: 1.4rem;
        color:#c9c9c9;
        padding:2rem 5rem;
        text-indent:2.4rem;
      }
      .text-1{
          border-top:1px solid #e6e6e6;
        }
      }
    }
  }
@media screen and (min-width:280px) and (max-width:768px) {
  .main {
    width: 100%;
    .main-part {
      .box-left {
        width: 100%;
        display: block;
        margin-bottom: 4rem;
      }
      .box-right {
        width: 100%;
        display: block;

        .list-1 {
          display: inline-block;
          padding: 2rem 5rem;
          .list-1-1 {
            display: block;
            margin: 0 auto;
          }
          .list-1-2 {
            width: 100%;
          }
        }
      }
    }
  }
}
@media screen and (min-width:769px) and (max-width:1200px) {
  .main {
    width: 100%;
    .main-part {
      .box-left {
        display: block;
        margin-bottom: 4rem;
      }
      .box-right {
        background:$while;
        display: block;

        .list-1 {
          display: inline-block;
          padding: 2rem 5rem;

          .list-1-1 {
            display: block;
            margin: 0 auto;
          }
          .list-1-2 {
            width: 100%;
          }
        }
      }
    }
  }
}
@media screen and (min-width:1200px){
}











